@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS landing */
@import './landing/landingpage.css';
@import './landing/aos.css';
@import './landing/font-awesome.min.css';
@import './landing/swiper-bundle.min.css';